DEBUG=true
SECRET_KEY=s3cr3t_bu11et1nBui1der
DATABASE_URL=mongodb://localhost:27017
DATABASE_NAME=database_name_example
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=realm_example
KEYCLOAK_CLIENT_ID=client_id_example
KEYCLOAK_CLIENT_SECRET=client_secret_example
 